/* side bar */
.side-bar__brand-area{
    display:flex;
    align-items:center;
}

.side-bar__title{
    margin:0;
}


/* main content */
.main-content__topbar{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.main-content__topbar-text{
    margin:0;
}

.main-content__brand-accent{
    color:rgb(59, 130, 246);
}

.main-content__mobile-filter{
    display:flex;
    align-items:center;
    gap:.4rem;
    background-color:#E4E7F2;
    border:none;
    padding:0.6em 0.9em 0.6em 0.9em;
    border-radius:999px;
    cursor:pointer;
}

.main-content__filter-text{
    font-size:0.875rem;
}

.sr-only{
    position:absolute;
    width:1px;
    height:1px;
    clip:rect(0,0,0,0);
    overflow:hidden;
    margin:-1px;
}

.main-content__task-input,
.main-content__date-input{
    width:100%;
    padding:.75em .8em;
    border-radius:8px;
    border:1px solid #D6DAE6;
    outline:none;
    font-size:1rem;
}

.main-content__task-input::placeholder{
    font-size:1rem;
    color:#9AA3B2;
    font-weight:400;
}

.main-content__task-input:focus{
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.15);
    border-color:#3B82F6;
}

.main-content__date-input{
    cursor:pointer;
}

.main-content__add-btn{
    flex:0 0 100px;
    background-color:#3B82F6;
    color:#fff;
    font-size:0.875rem;
    border:none;
    border-radius:8px;
    cursor:pointer;
}


/* Active */
.side-bar.active{
    position:fixed;
    top:80px;
    left:50%;
    transform:translateX(-50%);
    display: flex;
    flex-direction:column;
    border-radius:23px;
    width:90%;
    padding:1.3em;
    z-index:1000;
}

.side-bar.active .side-bar__title{
    color:#6B7280; 
}

.side-bar.active .side-bar__brand-area{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.side-bar.active .side-bar__filters{
    padding-top:1em;
    display:flex;
    flex-direction:column;
    gap:.2rem;
}

.side-bar.active .side-bar__filter-btn{
    display:flex;
    align-items:center;
    gap:.5rem;
    width:100%;
    border:none;
    background:none;
    padding:.85em .9em;
    cursor:pointer;
    border-radius:10px;
    text-align:left;
    transition:background-color 0.2s ease;
}

.side-bar.active .side-bar__filter-btn.active{
    background:#DCE1F0;
    font-weight:600;
}